/*
Navbar
*/
.navbar-custom {
  display: flex;
  background-color:#F9FAFF;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  height: 50%;
}
.barCoteDroit{
  display: flex;
  margin-right: 4%;
  justify-content: right;
}
.logoflex{
  display: flex;
} 
.barCoteDroit .inter{
  color:   #252a2e;
  margin-right: 6px;
  margin-top: 15px;
  font-weight: bold;
}
.barCoteDroit .nom{
color:  #252a2e;
margin-right: 3px;
margin-top: 15px;
font-weight: bold;
}
.searchFlex{
     display: flex;
     margin-left: 10%;
 }

.statbtn{
    margin-left: 3px;
}
a:link 
    { 
 text-decoration:none; 
    } 

.rounded-circle{
  margin-bottom: 30px;
  width: 90px;
  height: 80px;
}

.menu{
  background-color:#252a2e;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu .sousmenu{
  color:  white;
}
/*
end navbar
*/


/*
statistic-cards
*/
.statistic-cards{
  margin: 2%;
  display: flex;
  justify-content: space-around;
}

.card-stat{
  margin: 1%;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-nps-info{
  height: 79%;
}

/* MODAL */
.modal_disp{
  height: 100%;
}



/*
class card graphique ticket  
          +
boutton progression ticket
*/
.card_graph{
  display: flex;
  flex-direction: column;
}

/*
boutton progression ticket
*/
.boutton_prog{
  margin-top: 3%;
  width: 100%;
  }

.boutton_comment{
  margin-top: 2%;
}
    /*
Footer
*/ 
.page{
  min-height:100vh; 
display:flex; 
flex-direction:column; 
}
.content{
  flex-grow:1; 
}
.footer{
  flex-shrink: 0;
  }

  @media all and (max-device-width: 480px)
{
  .statistic-cards{
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-device-width: 768px) {
  .statistic-cards{
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
  }
}
