<html xmlns:th="http://www.thymeLeaf.org">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
$(document).ready(function() {
    $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        if (selectedOption != ''){
            window.location.replace('international?lang=' + selectedOption);
        }
    });
});
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a href="/"> <img src="logo.png" alt="saj logo" class=""
			height=110 width=120>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<!-- mes tickets -->

				
   					<li class="nav-item active"><a class="nav-link headerText"
					aria-current="page" href="qsm"  th:text="#{header.qsm}"></a></li>
			
				<li th:if="${session.title == 'A'}" class="nav-item active"><a class="nav-link headerText"
					aria-current="page" href="ticketsAspirant" th:text="#{header.mesTicket}"></a></li>
					

				<!-- Creation tickets Aspirant -->
				<li th:if="${session.title == 'A'}" class="nav-item active "><a
					class="nav-link headerText" aria-current="page"
					href="creationTicket" th:text="#{header.creationTicket}"></a></li>
				<!--  Zone Tickets Intervenant -->
				<li th:if="${session.title == 'I'}" class="nav-item active "><a
					class="nav-link headerText" aria-current="page" href="zoneTickets" th:text="#{header.zonetickets}"></a></li>
					
				<li th:if="${session.title == 'I'}" class="nav-item active"><a class="nav-link headerText"
					aria-current="page" href="ticketsInervenant" th:text="#{header.mesTicket}"></a></li>
		
						

				<li class="nav-item" value="fr"  ><a class="nav-link "aria-current="page"
					href="?lang=fr" > 🇫🇷</a></li>
				<li class="nav-item" value="en" ><a class="nav-link " aria-current="page"
					href="?lang=en" > 🇬🇧</a></li>
			</ul>
			<form class="d-flex">
				<!-- UserName -->

				<div class="dropdown" th:if="${session.title != null}">
					<div class="mr-3" data-toggle="dropdown">
						<i  class="bi bi-person-circle"
							style="font-size: 2rem; color: #0080ff"></i>
					</div>

					<ul class="dropdown-menu" style="margin-left: -45px;" role="menu"
						aria-labelledby="imageDropdown">

						<li><span class="nom justify-content-center" th:text="${session.login}"
							style="display: grid; color: #0080ff; font-weight: bold;"></span></li>

						    <li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item"
							href="profilIntervenant" th:text="#{header.profil}"></a></li>

						<li>
						<li><a class="dropdown-item" href="#" th:text="#{header.configuration}"></a></li>
						<li><a class="dropdown-item" href="MesStats">Mes Statistiques</a></li>
						
					</ul>
				</div>

			</form>

			<form th:if="${session.title != null}" th:action="@{/logout}">

				<button type="submit" class="btn btn-outline-danger" th:text="#{header.logout}"></button>

			</form>

			<!--  <form  action="login"> -->
			<button th:if="${session.title == null}" type="submit"
				class="btn btn-outline-primary" data-bs-toggle="modal"
				data-bs-target="#loginBackdrop" th:text="#{header.login }"></button>
			<!-- </form> -->

		</div>
	</div>

				<script src="/jsImports.js"></script>
	

</nav>