<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<link rel="shortcut icon" type="image/png" href="favicon.png" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="monTicketIntervenant.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">
<link href="\C:\Users\afpa\Documents\fontawesome/css/all.css"
	rel="stylesheet">

<!-- MDBootstrap Datatables CSS  -->
<link href="css/addons/datatables.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">



<!-- MDBootstrap Datatables JS  -->
<script type="text/javascript" src="js/addons/datatables.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
<script
	src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
<!-- SCRIPT FOR HEADER IMPORT -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>


<link href="/C:/Users/afpa/Documents/fontawesome/css/all.css"
	rel="stylesheet">

<link
	href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css"
	rel="stylesheet">
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">


<!--load all styles -->
<title>Ticket</title>
</head>
<body>
	<!-- start page div -->
	<div class="page">
		<!--Navigation bar-->
		<header th:insert="header.html"> </header>
		<!--end of Navigation bar-->
		<!-- 	start page div -->
		<div class="content">

			<div class="row  justify-content-around">
				<!-- START MAIN CARD -->
				<div class="card cardTicket col-12 col-lg-7 ">
					<div class="card-body">

						<div class="row">
							<!-- TICKET ID  -->

							<div class="ticketNum col-12 col-lg-4">
								<h2>
									Ticket n° <span class="badge rounded-pill bg-primary"
										th:text="${ticket.id}"></span>
								</h2>
							</div>
							<!-- TICKET Title -->
							<div class=" ticketTitle  mt-7 col-12  col-lg-8">
								<h2>
									Title: <span class="badge bg-primary" th:text="${ticket.titre}"></span>
								</h2>
							</div>

						<div class="row">
												<!-- TICKET FILE DOWNLAOD  -->
							<div class="dropdown show col-12 col-md-6 col-lg-6">
								<a
									class="btn btn-outline-primary dropdown-toggle btnDownloadFile"
									href="#" role="button" id="dropdownMenuLink"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false" th:text="#{ticket.download}">
									
									</a>
									<div class="dropdown-menu dropFile "
										aria-labelledby="dropdownMenuLink">
										<div th:each="file : ${files}">
											<div th:if="${file != null}">
												<a class="dropdown-item" th:href="@{'/file/' + ${file.id}}">
													<span th:text="${file.name}"></span>
												</a>
											</div>
										</div>
									</div>
									<!-- END TICKET FILE DOWNLAOD  -->
								</div>


							<!-- Button trigger modal -->
				<!-- 			<div class="col-12 col-md-6 col-lg-6">
								<button type="button"
									class="btn btn-outline-primary sendSolution"
									data-bs-toggle="modal" data-bs-target="#staticBackdrop" th:text="#{ticket.solutionProp}">
								<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
										fill="currentColor" class="bi bi-journal-arrow-up"
										viewBox="0 0 16 16">

  <path fill-rule="evenodd"
												d="M8 11a.5.5 0 0 0 .5-.5V6.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 .5.5z" />
  <path
												d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
  <path
												d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
</svg>
										</i>
									</button>
								</div> 

							</div>
							<!-- END CLASS ROW  -->
						</div>



						<!-- INFO TICKETS / DESCRIPTION & EXCEPTION  -->
						<div class="" th:object="${ticket}">
							<div class="row d-flex justify-content-around">
								<!-- DESCRIPTION  -->
								<div class="card infoCards col-12 col-lg-5">
									<div class="card-header" th:text="#{ticket.descr}"></div>
									<div class="card-body">
										<p class="card-text"
											th:text="*{expoProblematique != null} ? *{expoProblematique}"></p>
									</div>
								</div>


								<!-- EXCEPTION  -->
								<div class="card infoCards col-12  col-lg-6">
									<div class="card-header" th:text="#{creationTicket.console}"></div>
									<div class="card-body">
										<p class="card-text"
											th:text="${ticket.exceptionConsole != null} ? ${ticket.exceptionConsole}"></p>
									</div>
								</div>
							</div>
						</div>
						<!-- END INFO TICKETS / DESCRIPTION & EXCEPTION  -->





						<!-- BADGES LANGUAGE TAGS -->
						<div class="row tags">
							<h3>
								<span class="badge bg-primary" style="margin: 2%;"
									th:each="tag : ${listLibrary}" th:utext="${tag}"></span>
							</h3>
						</div>

						<!-- END  BADGES LANGUAGE TAGS -->
					</div>
					<!-- Ancienne solution  -->

								<div class="card infoCards col-12  col-lg-6">
									<div class="card-header" th:text="#{ticket.oldSoluce}"></div>
									<div class="card-body">
										<p class="card-text"
											th:text="${ticket.solutionTicket != null} ? ${ticket.solutionTicket}"></p>
									</div>
								</div>
							</div>
						</div>




			<!-- END MAIN ROW -->
			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
				crossorigin="anonymous"></script>

			<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
			<script
				src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
			<script
				src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
			<script
				src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
			<script
				src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>

		</div>
	</div>
	<!-- END MAIN CARD -->





	<!-- END content div -->
	</div>

	<!--Navigation bar-->
	<footer th:insert="footer.html"> </footer>
	<!--end of Navigation bar-->
	<!-- END page div -->
	</div>




	<!-- Modal SOLUTION -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
		data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog  modal-lg">
			<div class="modal-content">
				<form action="envoiSoluce" method="post" class="needs-validation"
					novalidate>
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">
							Solution Ticket n° <span class="badge rounded-pill bg-primary"
								th:text="${ticket.id}"></span>
						</h5>
						<input type="hidden" th:value="${ticket.id}" name="idTicket">
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>

					<div class="modal-body" th:object="${solution}">
						<textarea class="form-control" id="exampleFormControlTextarea1"
							rows="3" name="solution" required></textarea>
						<!-- 						<input type="text" class="input-group input-group-lgl" -->
						<!-- 							id="exampleFormControlInput1" -->
						<!-- 							placeholder="Entrer votre identifiant" > -->
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal" th:text="#{ticket.close}"></button>
						<button type="submit" class="btn btn-primary" th:text="#{modal.Submit}"></button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<script src="monTicketIntervenant.js"></script>

</body>
</html>