<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="\C:\Users\afpa\Documents\Projet\Css\page_mes_statistique_aspirant.css" rel="stylesheet">
  <!-- FontAwesome -->
  <link href="/C:\Users\Jean\SAJ _projets\fontawesome/css/all.css" rel="stylesheet">

  <!-- Responsive META -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">




  <!--GOOGLE CHART TICKETS-->
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([

        ['tickets ouverts', 15],
        ['tickets détachés', 5],

        ['tickets annulés', 3],
        ['tickets clos', 15],
      ]);

      // Set chart options
      var options = {
        chartArea: { width: '100%', height: '100%' },
        'title': 'Tickets',
        is3D: true,
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
      chart.draw(data, options);
    }
  </script>

  <!--GOOGLE CHART NPS-->
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

    // Load the Visualization API and the corechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
        ['promoteurs', 15],
        ['detracteurs ', 4],
        ['passifs', 6],
      ]);

      // Set chart options
      var options = {
        chartArea: { width: '100%', height: '100%' },
        'title': 'NPS',
        is3D: true,
      };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('chart_nps'));
      chart.draw(data, options);
    }
  </script>

  <!--GOOGLE CHART progression temporelle-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Moi', 'Tickets Ouverts', 'Tickets résolus'],
        ['JAN', 4, 4],
        ['FEV', 10, 8],
        ['MAR', 10, 10],
        ['AVR', 15, 12],
        ['MAI', 10, 8],
        ['JUIN', 20, 17],
        ['JUIL', 4, 4],
        ['AOUT', 20, 19],
        ['SEPT', 25, 22],
        ['OCT', 30, 25],
        ['NOV', 30, 30],
        ['DEC', 15, 14],
      ]);

      var options = {
        chartArea: { width: '100%'},
        title: 'Tickets dans le temps',
        curveType: 'function',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

      chart.draw(data, options);
    }
  </script>




  <title> Statistiques Aspirant</title>
</head>

<!-- Body -->

<body>

  <!-- page -->
  <div class="page">

    <!-- Navbar -->
    <nav class="navbar navbar-light navbar-custom">
      <div class="logoflex">
        <img src="logo.png" alt="saj logo" class="logo align-self-center" height=90 width=100>
      </div>
      <div class="d-flex barCoteDroit">
        <span class="nom">Jean Berti Azar</span>
        <img src="user.png" class="rounded-circle align-self-center p-2" alt="" height=60 width=60>
      </div>
    </nav>
    <!-- SubNavbar -->
    <ul class="nav nav-pills nav-fill menu">
      <li class="nav-item">
        <a class="nav-link  sousmenu" href="#">Mon profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active sousmenu" aria-current="page" href="#">Statistiques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  sousmenu"
          href="file:///c:/Users/Jean/SAJ _projets/_page_mes_tickets_aspirant/page_mes_tickets_aspirant.html">Historique de Tickets</a>
      </li>
    </ul>
    <!-- end Navbar -->


    <!--content -->
    <div class="content">



      <!--card statistiques tickets-->

      <!--cards container-->
      <div class="statistic-cards">

        <!-- ROW ALL CARDS -->

        <div class="card text-center card-stat col-12 col-lg-6">
          <div class="card-header">
            TICKETS
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-lg-6">
                <!--first inner card info-->
                <div class="card border-dark ticket-card">
                  <div class="card-body">
                    <!--                     <p class="card-text">Nombre de tickets créés : <span style="color:rgb(38, 0, 255)"> 28</span>
                    </p> -->
                    <!-- <div class="card-footer border-dark"> -->
                    <p class="card-text">Nombre de tickets ouverts :<span style="color:rgb(38, 0, 255)"> 15 </span>
                    </p>
                    <p class="card-text">Nombre de tickets clos :<span style="color:rgb(22, 94, 0)"> 15 </span>
                    </p>
                    <p class="card-text">Nombre de tickets détachés :<span style="color:rgb(255, 0, 0)"> 5 </span>
                    </p>
                    <p class="card-text">Nombre de tickets annulés :<span style="color:rgb(255, 145, 0)"> 3 </span>
                    </p>
                    <!-- </div> -->
                  </div>
                </div>

              </div>

              <!--Second inner card - TICKETS CHART -->
              <div class="col-12 col-lg-6">
                <div class="card_graph">
                  <div class="card border-dark">
                    <div class="card-body">
                      <h5 class="card-title">Graphique</h5>
                      <div id="piechart_3d"></div>
                    </div>
                  </div>
                  <!--boutton modal graphique progression ticket dans le temps-->
                  <div class="boutton_ticket">
                    <button type="button" class="btn btn-outline-dark boutton_prog" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop">
                      Évolution des tickets dans le temps
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- card footer -->
          <div class="card-footer text-muted">
            Nombre total de tickets : <span style="color:rgb(22, 94, 0)">28</span>
          </div>
        </div>


        <!--card statistiques tickets NPS  (net promtoter score)-->

        <div class="card text-center card-stat col-12 col-lg-6">
          <div class="card-header">
            Notes données
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-12 col-lg-6">
                <!--first inner card info-->
                <div class="card border-dark card-nps-info">
                  <div class="card-body">
                    <p class="card-text">Nombre de notes total :<span style="color:rgb(22, 94, 0)"> 30</span> </p>
                    <div class="card-footer border-dark">
                      <p class="card-text">Nombre de promoteurs : <span style="color:rgb(38, 0, 255)"> 15</span></p>
                      <p class="card-text">Nombre de passifs :<span style="color:rgb(38, 0, 255)"> 6</span> </p>
                      <p class="card-text">Nombre de detracteurs : <span style="color:rgb(255, 0, 0)"> 4 </span></p>
                    </div>
                  </div>
                </div>
                <!-- Button trigger modal Commentaires -->
                <div class="boutton_comment">
                  <button type="button" class="btn btn-outline-dark boutton_prog" data-bs-toggle="modal"
                    data-bs-target="#commentBtn">
                    Historique commentaires </button>
                </div>
              </div>

              <!--Second inner card - TICKETS CHART -->
              <div class="col-12 col-lg-6">
                <div class="card_graph">
                  <div class="card border-dark">
                    <div class="card-body">
                      <h5 class="card-title">Graphique</h5>
                      <div id="chart_nps"></div>
                    </div>
                  </div>
                  <!--boutton modal graphique progression ticket dans le temps-->
                  <div class="boutton_ticket">
                    <!-- Button trigger modal nps -->
                    <button type="button" class="btn btn-outline-dark boutton_prog" data-bs-toggle="modal"
                      data-bs-target="#modalNps">
                      Historique notes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- card footer -->
          <div class="card-footer text-muted">
            Satisfaction :<span style="color:rgb(22, 94, 0)"> 84</span>
          </div>
        </div>



        <!-- End div statistic cards -->
      </div>



      <!-- ===MODALS=== -->


      <!-- MODAL card TICKETS IN TIME -->

      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog"></div>
          <div class="modal-content modal-stat-ticket-time modal_disp">
         <div class=" modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Vos tickets dans le temps</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="curve_chart"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <!-- Modal NPS -->
    <div class="modal fade" id="modalNps" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="modalNps" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalNps">Historique notes</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- LIST GROUP NOTES  -->
            <ol class="list-group list-group-numbered">
              <li class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold"> JavaFx problème</div>
                  Net Promoter Score  <span class="badge bg-success rounded-pill"> 9</span>
                </div>
                <span class="badge bg-secondary">#015</span>
              </li>
              <li class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Angular</div>
                  Net Promoter Score  <span class="badge bg-warning  rounded-pill"> 7</span>
                </div>
                <span class="badge bg-secondary">#037</span> 
              </li>
              <li class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Spring</div>
                  Net Promoter Score  <span class="badge bg-danger rounded-pill"> 6</span>
                </div>
                <span class="badge bg-secondary">#067</span> 
              </li>
            </ol>
            <!-- LIST GROUP NOTES  -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal Commentaires -->
    <div class="modal fade" id="commentBtn" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="commentBtn" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="commentBtn">Historique commentaires</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <!-- LIST GROUP COMMENT    -->
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"> <span class="badge bg-secondary">#015</span> JavaFx problème</h5>
                  <small>02/04/2021</small>
                </div>
                <p class="mb-1">Mark m'a bien aidé! merci.</p>
                <small> <span style="color:rgb(0, 0, 0)"> Réponse :</span> Merci à toi, n'hésites pas </small>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"> <span class="badge bg-secondary">#034</span> HTML/CSS FlexBox</h5>
                  <small class="text-muted">15/03/2021</small>
                </div>
                <p class="mb-1">Très compétent et réactif, Merci pour ton aide! </p>
                <small class="text-muted"> <span style="color:rgb(0, 0, 0)"> Réponse :</span> ce fut un plaisir de t'aider! n'hésites pas!</small>
              </a>
              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">  <span class="badge bg-secondary">#024</span>  Ajax connection</h5>
                  <small class="text-muted">07/03/2021</small>
                </div>
                <p class="mb-1">Karim est très compétant, je recommande! merci Karim :) </p>
                <small class="text-muted"><span style="color:rgb(0, 0, 0)"> Réponse :</span> Je t'en prie, ce fut un plaisir de t'aider ! </small>
              </a>
            </div>
            <!-- LIST GROUP COMMENT    -->

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ===END MODALS=== -->

    <!-- End content -->
  </div>



  <!-- Footer -->
  <footer class="bg-light text-center text-lg-start footer">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © SAJ 2021 Copyright:
      <a class="text-dark" href="#">saj-solutions.com</a>
    </div>
  </footer>
  <!-- end Footer -->

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->



  <!-- end page -->
  </div>

</body>

</html>