<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="\C:\Users\afpa\Documents\Projet\Css\TicketChatCss.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link href="\C:\Users\afpa\Documents\fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
    <title>Conversation</title>
</head>

<body>

    <nav class="navbar navbar-light navbar-custom">
        <div class="logoflex">    
            <a href="MesTicketAspirantHtml.html">  <img src="\C:\Users\afpa\Documents\Projet\Images\logo.png" alt="saj logo" class="logo align-self-center" height=90 width=100>  </a>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline searchFlex">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav>
        </div>  
                <div class="d-flex barCoteDroit">
                    <i class="fas fa-bell"></i>
                    <span class="nom">El Argabi Sofiane</span>
                    <img src="\C:\Users\afpa\Documents\Projet\Images\user.png" class="rounded-circle align-self-center p-2" alt="" height=60 width=60>
                </div>
       
    </nav>
    <ul class="nav nav-pills nav-fill menu">
        <li class="nav-item">
            <a class="nav-link  sousmenu  mestickets"  href="MesTicketAspirantHtml.html"> Mes tickets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  sousmenu"  href="creationTicket.html"> Création d'un ticket</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  sousmenu"  href="Offre.html">Offre</a>
        </li>
        
    </ul>
    
        <ul class="nav infosTicket">
            <li class="nav-item">
              <a class="nav-link active inf" aria-current="page" href="#">#001</a>
            </li>
            <li class="nav-item">
              <a class="nav-link inf" href="#">Java</a>
            </li>
            <li class="nav-item">
              <a class="nav-link inf" href="#">Java-Fx Setup problem</a>
            </li>
          </ul>
          <ul class="nav infosTicket2">
            <li class="nav-item">
              <a class="nav-link active inf" aria-current="page" href="#">open</a>
            </li>
            <li class="nav-item">
              <a class="nav-link inf" href="#">work time-01:15:13</a>
            </li>
            <li class="nav-item">
              <a class="nav-link inf" href="#">Java</a>
            </li>
            <li class="nav-item">
                <a class="nav-link inf" href="#">Java-Fx</a>
              </li>
          </ul>

    <div class="navScroll">
     
        <div id="navbar-example">
            <ul class="nav nav-tabs" role="tablist">
                <div class="card-body solu1">
                    <button type="button" class="btn btn-primary btnMark">Mark.Z</button>
                    01 Mars 2021 - 11:50 <br>
                    <span>Hey Kevin, I am glad the solution I gave you helped, I am here to help ! </span>
                </div>
            </ul>
            <ul class="nav nav-tabs" role="tablist">
                <div class="card-body solu1">
                    <button type="button" class="btn btn-primary btnMark2">Kevin.L</button>
                    02 Mars 2021 - 11:50 <br>
                    <span>Thank you Mark, your solution helped me !</span>
                </div>
            </ul>
            <ul class="nav nav-tabs" role="tablist">
                <div class="card-body solu1">
                    <button type="button" class="btn btn-primary btnMark">Mark.Z</button>
                    03 Mars 2021 - 11:50 <br>
                    <span>Hey Kevin, I am glad the solution I gave you helped, I am here to help !</span>
                </div>
            </ul>
            <ul class="nav nav-tabs" role="tablist">
                <div class="card-body solu1">
                    <button type="button" class="btn btn-primary btnMark2">Kevin.L</button>
                    04 Mars 2021 - 11:58 <br>
                    <span>Hello Mark, I have an issue configuring JavaFx, thanks for your help !</span>
                </div>
            </ul>
            <ul class="nav nav-tabs" role="tablist">
                <div class="card-body solu1">
                    <button type="button" class="btn btn-primary btnMark">Mark.Z</button>
                    04 Mars 2021 - 11:58 <br>
                    <span>Hello Mark, I have an issue configuring JavaFx, thanks for your help !</span>
                </div>
            </ul>
            <ul class="nav nav-tabs" role="tablist">
                <div class="card-body solu1">
                    <button type="button" class="btn btn-primary btnMark2" >Kevin.L</button>
                    04 Mars 2021 - 11:58 <br>
                    <span>Hello Mark, I have an issue configuring JavaFx, thanks for your help !</span>
                </div>
            </ul>
            <ul class="nav nav-tabs" role="tablist">
                <div class="card-body solu1">
                    <button type="button" class="btn btn-primary btnMark">Mark.Z</button>
                    04 Mars 2021 - 11:58 <br>
                    <span>Hello Mark, I have an issue configuring JavaFx, thanks for your help !</span>
                </div>
            </ul>
           

        </div>
  
    </div>

    <textarea class="area" aria-label="With textarea" placeholder="Write down your answer here !"></textarea>
    <div class="gauche12">

        <div class="span12">aA | B/U | *citer | insert code | &#128522; </div>

        <div class="container-fluid sendBut">
            <input class="btn btn-primary" type="submit" value="Envoyer">
        </div>


    </div>
</body>

</html>