
<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="favicon.png"/>
<link href="/ZoneTicketsCss.css" rel="stylesheet">

<!-- ICONES BOOTSTRAP  -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">


<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">

<link href="/C:/Users/afpa/Documents/fontawesome/css/all.css"
	rel="stylesheet">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
	crossorigin="anonymous">
<link
	href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css"
	rel="stylesheet">
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet"
	href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

<title>Zone Tickets</title>

</head>

<body>
	<!-- start page div -->
	<div class="page">
		<!--Navigation bar-->
		<header th:insert="header.html"> </header>
		<!--end of Navigation bar-->
		<!-- 	start page div -->
		<div class="content"> 
		<!--Début tableau-->
			<div class="card mainCard col-12">
				<div class="card-body ticketCard col-12">
					<div class="title">
							<h2>
								Pool <span>Tickets </span>
							</h2>
						</div>
		     
		      <div class="myticketspage">
		      <!-- NAVTAB -->
						<div class="">
							<ul class="nav nav-tabs filtre-tickets" id="myTab" role="tablist">
								<!--tab tickets actifs -->
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="actifticket-tab"
										data-bs-toggle="tab" data-bs-target="#actiftab" type="button"
										role="tab" aria-controls="actifstab" aria-selected="true"
										aria-current="page">Ouverts</button>
								</li>
								<!--tab tickets en cours de traitement -->
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="clotures-tab" data-bs-toggle="tab"
										data-bs-target="#cloturestab" type="button" role="tab"
										aria-controls="cloturestab" aria-selected="false">En
										attente de validation</button>
								</li>
							</ul>
						</div>
						<!-- END NAVTAB -->
		<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="actiftab"
								role="tabpanel" aria-labelledby="actifticket-tab">
								

			

					<div class="ticketList">
						
						<table id="dtBasicExample"
							class="table table-striped table-hover tab ticketTable"
							data-toggle="table" data-search="true" data-pagination="true">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Titre</th>
									<!-- <th scope="col">Langage utilisé</th> -->
									<th scope="col">Date création</th>
									<!-- <th scope="col">Temps restant</th> -->
									<th scope="col">Statut</th>
									<th class="colAction"><span class="action">Action</span></th>
									<!-- <th scope="col" class="notif"><span class="action">Notification</span></th> -->
								</tr>
							</thead>
							<tbody>
								<tr th:each="ticket: ${listTickets}">
								
									<th scope="row" th:text="${ticket.id}" id="id"></th>
									<td th:text="${ticket.titre}"></td>
									
								
									<!-- <td th:text="${ticket.languageLibrary.codingLanguage.name}"></td> -->
									<td th:text="${ticket.dateCreation}"></td>
									<!-- <td class="tempsrestant">36h</td> -->
									<td th:text="${ticket.statut}"></td>

									<td class="flexBtn">


										<form action="monTicket" method="get" class="actionForm">
											<input type="hidden" th:value="${ticket.id}" name="idTicket">
											<button type="submit" class="btn btn-outline-primary eyeBtn"
												data-toggle="tooltip" data-placement="top"
												title="examiner ticket">

												<svg xmlns="http://www.w3.org/2000/svg" width="35"
													height="35" fill="currentColor" class="bi bi-eye"
													viewBox="0 0 16 16">
											  <path
														d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
											  <path
														d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
											  </svg>

											</button>

										</form> 
										
										<a href="#myModal"
										th:onclick="'javascript:showFunctionModal(\'' + ${ticket.id} +'\');'"
										class="btn btn-outline-danger eyeBtn " aria-label="Close"
										data-toggle="modal" data-placement="top"
										title="se positionner"> <span aria-hidden="true"><svg
													xmlns="http://www.w3.org/2000/svg" width="35" height="35"
													fill="currentColor" class="bi bi-plus-circle"
													viewBox="0 0 16 16">
  <path
														d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
  <path
														d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
</svg></span>
									</a>
									</td>

									<!-- <td class="bell"><i class="fas fa-bell"></i></td> -->
								</tr>

							</tbody>
						</table>
					</div>
				
			</div>
			<!--tab en attente de validation -->
							<div class="tab-pane fade" id="cloturestab" role="tabpanel"
								aria-labelledby="clotures-tab">
								<div class="ticket-list">


									<div class="ticketList">


										<table id="dtBasicExample"
											class="table table-striped table-hover tab ticketTable"
											data-toggle="table" data-search="true"
											data-show-columns="false" data-pagination="true">
											<thead>
												<tr>
													<th scope="col" class="idTicket">#</th>
													<th scope="col" class="titreTicket">Titre</th>
													<!-- <th scope="col">Langage utilisé</th> -->
													<th scope="col" class="dateCrea">Date création</th>
													<!-- <th scope="col">Temps restant</th> -->
													<th scope="col" class="statusTicket">Statut</th>
													<th class="colAction"><span class="action">Action</span></th>
													<!-- <th scope="col" class="notif"><span class="action">Notification</span></th> -->
												</tr>
											</thead>
											<tbody>
												<tr th:each="ticket: ${listTicketsAModifier}">
									
													<th scope="row" th:text="${ticket.id}" id="idToModif" th:value="${ticket.id}"></th>
													<td th:text="${ticket.titre}"></td>
													<!-- <td th:text="${ticket.languageLibrary.codingLanguage.name}"></td> -->
													<td th:text="${ticket.dateCreation}"></td>
													<!-- <td class="tempsrestant">36h</td> -->
													<!-- <td th:text="${ticket.statut}"> -->
													<td><svg xmlns="http://www.w3.org/2000/svg" width="35"
															height="35" fill="green" class="bi bi-circle-fill"
															viewBox="0 0 16 16">
													<circle cx="8" cy="8" r="8" />
										</svg></td>

													<td class="flexBtn">


														<form action="monTicket" method="get" class="actionForm">
															<input type="hidden" th:value="${ticket.id}"
																name="idTicket" >
															<button type="submit"
																class="btn btn-outline-primary eyeBtn"
																data-toggle="tooltip" data-placement="top"
																title="examiner ticket">

																<svg xmlns="http://www.w3.org/2000/svg" width="35"
																	height="35" fill="currentColor" class="bi bi-eye"
																	viewBox="0 0 16 16">
											  <path
																		d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
											  <path
																		d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
											  </svg>

															</button>

														</form>
													
														
							<!-- 							<button data-toggle="modal" data-target="#myModalModif" th:onclick="'javascript:showModifyModal(\'' + ${ticket.id} +'\');'"
			
															class="btn btn-outline-success eyeBtn" aria-label="Close" data-placement="top"
															title="Modifier l'offre"><span aria-hidden="true"  > 
															
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
 															 <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
 														 <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
														</svg></span>
														</button> -->
													<form action="abandonnerOffre" method="post">
														<input type="hidden" th:value="${ticket.id}"
																name="idTicket" >
														<button type="submit" onclick="return onButtonAbandonOffre();"
															class="btn btn-outline-danger eyeBtn" aria-label="Close"
															data-toggle="tooltip" data-placement="top"
															title="Abandonner l'offre">
															<svg xmlns="http://www.w3.org/2000/svg" width="35"
																height="35" fill="currentColor" class="bi bi-x-square"
																viewBox="0 0 16 16">
  <path
																	d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
  <path
																	d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
</svg>
														</button>
														</form>

														

													</td>
													
												</tr>

											</tbody>
										</table>

									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<form action="modifOffre" method="post">
			
				<div id="myModalModif" class="modal fade">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
							
							<input type="hidden" name="ticketId" id="ticketId">
							<div th:each="offre: ${T(fr.formation.afpa.controller.IntervenantController).findOffer(59,session.aspirantId)}">
								<label>Nouvelle proposition</label>					
							
							<div class="modal-body">
								
								<div class="form-group">
								<label class="control-label">Montant actuel (€)</label>
								<h3 class="modal-title" th:text="${offre.montant}"></h3>
								<label class="control-label">Nouveau Montant (€)</label>
								<input type="number" min=0 class="form-control input-lg" name="montant">
									
								</div>
								<div class="form-group">
									<label class="control-label">Date limite actuelle</label>
									<h3 class="modal-title" th:text="${#dates.format(offre.dateLimiteSoluce,'dd/MM/yyyy')}"></h3>
									<label class="control-label">Nouvelle date limite</label>
									<input type="date" id="datefield" class="form-control input-lg" name="dateLimite">
									
								</div>

							</div>
								<br> <br>

								<div class="row">
									<div class="btnProp col-12 col-lg-5 ml-5">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Annuler</button>
									</div>
									<div class="btnProp col-12 col-lg-5">
										<button type="submit" class="btn btn-primary">Soumettre</button>
									</div>
								</div>

							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				</div>
				<!-- /.modal -->
			</form>
			
		
			<form action="envoiOffre" method="post">
			
				<div id="myModal" class="modal fade">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title">Proposition</h1>
							</div>
							<div class="modal-body">
								
								<div class="form-group">
								<input type="hidden" name="idTick" id="idTick" value="dfrezf">
									<label class="control-label">Montant (€)</label>
									<div>
										<input type="number" min=0 class="form-control input-lg"
											name="montant">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label">Date limite</label>
									<div>
										<input type="date" id="datefield"
											class="form-control input-lg" name="dateLimite">
									</div>
								</div>

								<br> <br>

								<div class="row">
									<div class="btnProp col-12 col-lg-5 ml-5">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Annuler</button>
									</div>
									<div class="btnProp col-12 col-lg-5">
										<button type="submit" class="btn btn-primary">Soumettre</button>
									</div>
								</div>

							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
			</form>
			


<script src="/jsImports.js"></script>

			<script>
				$('#ticketList').dataTable({
					"scrollY" : "400px",
					"scrollCollapse" : true,
				});
			</script>

			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
				crossorigin="anonymous"></script>

			<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
			<script
				src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
			<script
				src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
			<script
				src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
			<script
				src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
			<!-- END content div -->
			<script src="script.js"></script>
			<!-- END content div -->
		</div>
		<!--Navigation bar-->
		<footer th:insert="footer.html"> </footer>
		<!--end of Navigation bar-->
		<!-- END page div -->
	</div>
	<script src="creationTicket.js"></script>
	<script>
		function showFunctionModal(id) {
			
			$(document).ready(function() {
				$('.myModal').modal();
				$("#idTick").val(id);
			});
			console.log(id);
		}
	</script>
	<script>
		function showModifyModal(id) {
			console.log('IN THERE');
			$(document).ready(function() {
				$('.myModalModif').modal();
				$("#ticketId").val(id);
			});
		}
	</script>
</body>

</html>
